body {
  background: #333
}

h1{
  position: absolute;
  left: 850px;
  top: 0px;
}

.flexBox {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}

.mathCard {
  background: white;
  border-radius: 0.25rem;
  padding:10rem;
  display: inline-block;
}

.scores{
  position: absolute;
  text-align: right;
  color: rgba(184, 20, 20, 0.774);
  top: 0;
  right: 0;
  margin-right: 5em;
  margin-top: 1em;
  float: right;
}

.levelsMenu {  
    text-align: center;
    list-style-type: none;
    width: 200px;
}

.levelsMenu a {
    background-color: rgba(184, 20, 20, 0.774);
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.questionText {
  padding-bottom: 6rem
}

.svg {
  height: 24px;
  width: 24px;
}

.correctAnswer {
  color: #34a853;
  font-size: 2rem
}
.lives{
  display: flex;
  justify-content: center;
  padding: 2em;
}
.heart1 {
  size: 200px;
  border: 2px solid #555;
  padding: 1em;
  margin-left: 2em;
}
.heart2 {
  size: 200px;
  border: 2px solid #555;
  padding: 1em;
  margin-left: 2em;
}
.heart3 {
  size: 200px;
  border: 2px solid #555;
  padding: 1em;
  margin-left: 2em;
}
.resetHelpButtons{
  display: flex;
  justify-content: center;
  padding: 2em;
}

.resetButton {
  size: 200px;
  border: 2px solid #555;
  padding: 1em;
  margin-right: 2em;
}

.helpButton {
  size: 200px;
  border: 2px solid #555;
  padding: 1em;
  margin-left: 2em;
}

.help{
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.helpText{
  text-align: center;
  position: relative;
  white-space: pre-line;
  font-size: 1.5vmin;
}